fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-community
langchain-text-splitters
sentence-transformers
pydantic
pydantic-settings
chromadb
pytest
httpx
slowapi
